<!doctype html>
<head>
<title>Le Vin Coupe</title>

<style>
.error-message {
	padding:15px;
	color:red;
}
</style>
</head>

<body>
<h1>Associations</h1>
<p>
To get started, please select a wine type and a wine characteristic.
</p>
<div class="error-message">{{ errorMessage }}</div>
<form method="POST" action="/correlation">
<p>Wine Types:</p>
	<input type="radio" name="wine_type" value="red" id="red"> <label for="red">Red</label><br>
	<input type="radio" name="wine_type" value="white" id="white"> <label for="white">White</label><br>
<p>Characteristic:</p>
	<input type="radio" name="wine_characteristic" value="volatile acidity" id="volatile_acidity"> <label for="volatile_acidity">Volatile Acidity</label><br>
	<input type="radio" name="wine_characteristic" value="fixed acidity" id="fixed_acidity"> <label for="fixed_acidity">Fixed Acidity</label><br>
	<input type="radio" name="wine_characteristic" value="alcohol" id="alcohol"> <label for="alcohol">Alcohol Percent</label><br>
	<input type="radio" name="wine_characteristic" value="residual sugar" id="residual_sugar"> <label for="residual_sugar">Residual Sugar</label><br>
<br>
<input type="submit" name="submit" value="Check Association">
</form>
</body>
</html>