<!doctype html>
<head>
<title>Le Vin Coupe</title>

<style>
.error-message {
	padding:15px;
	color:red;
}
</style>
</head>

<body>
<h1>Register a New User</h1>
<div class="error-message">{{ errorMessage }}</div>
<form method="POST" action="/register">
First Name: <input type="text" name="firstName">
<br>
Last Name: <input type="text" name="lastName">
<br>
Street Address: <input type="text" name="address">
<br>
City: <input type="text" name="city">
<br>
State: <input type="text" name="state">
<br>
Zip Code: <input type="text" name="zip">
<br>
Email: <input type="text" name="email">
<br>
Password: <input type="password" name="password">
<br>

<input type="submit" name="submit" value="Register">
</form>
</body>
</html>